<mat-list class="sidenav">
  <mat-list-item>
    <mat-icon>home</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>explore</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>subscriptions</mat-icon>

    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>video_library</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>history</mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon>library_music</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>s</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>s</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>s</mat-icon>
  </mat-list-item>
</mat-list>
