<mat-drawer-container autosize >
   <mat-drawer mode="side" [opened]="!deviceMd && !deviceSm && !deviceXs || openNav"  class="sideNav" >
    <app-sidebar *ngIf="openNav" ></app-sidebar>
    <app-side-bar-compact *ngIf="!openNav" ></app-side-bar-compact>
  </mat-drawer>
  <mat-drawer-content
    fxFlex="1 1 auto"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxLayoutGap="10px grid"
    
  >
    <mat-toolbar>
      <mat-toolbar-row class="content">
         <mat-chip-list class="box"aria-label="Fish selection">
            <mat-chip>All</mat-chip>
            <mat-chip>T-Series</mat-chip>
            <mat-chip>Music</mat-chip>
            <mat-chip>Live</mat-chip>
            <mat-chip>Sci-fi</mat-chip>
            <mat-chip>Electronic dance music</mat-chip>
            <mat-chip>Sports</mat-chip>
            <mat-chip>Top Gaming</mat-chip>
            <mat-chip>Science</mat-chip>
            <mat-chip>Auditions</mat-chip>
            <mat-chip>Recently uploaded</mat-chip>
            <mat-chip>Indian pop music</mat-chip>
          </mat-chip-list>
      </mat-toolbar-row>
    </mat-toolbar>
   
    
      
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
 
   
  </mat-drawer-content>
</mat-drawer-container>
