<mat-list class="sidenav">
    <mat-list-item> 
        <mat-icon>home</mat-icon>
        <a style="padding-left: 1.5rem;">Home</a>    
    </mat-list-item>
    <mat-list-item> 
        <mat-icon>explore</mat-icon>
        <a style="padding-left: 1.5rem;">Explore</a>    
    </mat-list-item>
    <mat-list-item> 
        <mat-icon>subscriptions</mat-icon>
        <a style="padding-left: 1.5rem;">Subscription</a>
        <mat-divider></mat-divider>    
    </mat-list-item>
    <mat-list-item> 
        <mat-icon>video_library</mat-icon>
        <a style="padding-left: 1.5rem;">Library</a>    
    </mat-list-item>
    <mat-list-item> 
        <mat-icon>history</mat-icon>
        <a style="padding-left: 1.5rem;">History</a>    
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> 
        <mat-icon>library_music</mat-icon>
        <a style="padding-left: 1.5rem;">Music</a>    
    </mat-list-item>
    <mat-list-item> 
        <mat-icon>s</mat-icon>
        <a style="padding-left: 1.5rem;">Sports</a>    
    </mat-list-item>
    <mat-list-item> 
        <mat-icon>s</mat-icon>
        <a style="padding-left: 1.5rem;">Gaming</a>    
    </mat-list-item>
    <mat-list-item> 
        <mat-icon>s</mat-icon>
        <a style="padding-left: 1.5rem;">Movies</a>    
    </mat-list-item>
</mat-list>